<div class="alert  alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0"> une nouvelle tâche vient d'être créee pour vous, cliquez <a href="{{ path('task_show',{'id':task.id}) }}">ce lien</a> pour voir les détails de cette tâche.</p>
</div>