{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
   <div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 mb-5">Bienvenue sur ToDoList App</h1>
        <p class="lead">Cette application 'To Do List' permet de créer, organiser et gérer des listes de tâches à accomplir. </p>
            
        
        <p class="lead">Les principales caractéristiques de cette application incluent :</p>
        <ul>
            <li><strong>Création de tâches </strong>: Les utilisateurs peuvent ajouter facilement de nouvelles tâches à accomplir en leur attribuant un titre et, une description plus détaillée...</li>
            <li><strong>Priorités</strong> : Les tâches peuvent être classées par ordre de priorité, permettant aux utilisateurs de se concentrer sur les tâches les plus importantes en premier.</li>
            <li><strong>Date d'échéance</strong> : Les utilisateurs peuvent définir des dates d'échéance pour chaque tâche, ce qui les aide à respecter les délais et à gérer leur temps de manière plus efficace.</li>
            <li><strong>Organisation </strong>: Les tâches peuvent être regroupées en catégories, projets ou listes, ce qui facilite leur organisation et leur suivi.</li>
            <li><strong>Notifications</strong> : L'applications "to-do list" peuvent envoyer des emails aux utilisateurs pour les informer des tâches à venir ou des échéances imminentes.</li>
            <li><strong>Coopération </strong> :  L'application permet aux utilisateurs de collaborer sur des listes de tâches partagées, ce qui est utile pour les projets en équipe ou les tâches partagées.</li>
            <li><strong>Suivi de l'avancement</strong> : Les utilisateurs peuvent marquer le status des tâches comme 'fini' ou 'en cours' , ce qui leur permet de suivre leur progression.</li>
            </ul>
        </ul>
        
        
        <hr class="my-4">
        <p>Pour commencer , rendez-vous sur la page d'inscription</p>
        <p class="lead mt-5">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </p>
    </div></div>
    {% endblock %}
