{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
   <div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur ToDoList App</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>Pour commencer , rendez-vous sur la page d'inscription</p>
        <p class="lead mt-5">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </p>
    </div></div>
    {% endblock %}
